.logo{
position: relative;
right:  400px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(131, 111, 39);
font-size: larger;
}
.logo11{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(131, 111, 39);
    font-size: larger;
    

}
.attraction{


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(131, 111, 39);
    font-size: larger;
    text-align: center;
    padding-bottom: 50px;
}

.attrTitele{

    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: large;
    color: rgb(88, 94, 137);
    
}